<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <p>Wilcox Lab &copy 2019</p>
          <p></p>
          <p></p>
        </div>

        <div class="col-sm-4">
          <!-- Placeholder for funding? -->
        </div>
        <div class="col-sm-4">
          UW Medicine at South Lake Union<br />
          850 Republican St<br />
          Seattle<br />
          WA, 98109 <br />
          <a target="_blank" href="https://goo.gl/maps/YsbN94E2jex">Map</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
